html, body {
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #333;
	padding: 0;
	margin: 0;
  }
  
  body {
	text-align: center;
	background-color: #f2f2f2;
  }
  
  #wrapper {
	width: 500px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #header {
	background-color: #4e8abe;
	color: #fff;
	padding: 10px;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 24px;
	font-weight: bold;
	border-radius: 10px 10px 0 0;
  }
  
  #instructions, #sample, #explanation {
	margin: 20px 0;
  }
  
  .box {
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
  }
  
  #instructions h3, #sample h3, #explanation h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  #sample p {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin: 0;
  }
  
  #explanation img {
	display: block;
	margin: 20px auto;
  }
  
  #explanation p {
	margin-bottom: 10px;
  }
  
  #calc-table {
	text-align: left;
	width: 100%;
	margin: 0 auto;
  }
  
  #inputs {
	display: flex;
	justify-content: space-between;
  }
  
  .input-box {
	flex: 1;
	text-align: center;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
  }
  
  .label {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  input {
	font-size: 16px;
	text-align: center;
	height: 30px;
	width: 100%;
	color: #333;
	margin: 0;
	padding: 5px;
	background: #f5f5f5;
	border: 2px solid #ccc;
	border-radius: 5px;
  }
  
  #slider-block {
	width: 100%;
	height: 25px;
	margin: 20px auto;
	background: #e3e3e3;
	text-align: left;
	border-radius: 5px;
  }
  
  #slider-left {
	width: 0;
	padding: 0;
	height: 25px;
	background: #4e8abe;
	border-radius: 5px;
  }
  
  #slider-button {
	position: relative;
	left: 0;
	float: right;
	width: 25px;
	height: 25px;
	background: #4e8abe;
	border-radius: 50%;
  }
  
  #scale {
	margin-top: 10px;
	text-align: center;
  }
  
  #result {
	text-align: center;
	width: 100%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
  }
  
  #result div {
	flex: 1;
	height: 30px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #ccc;
  }
  
  #result div:last-child {
	border-right: none;
  }
  
  #result span {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333;
  }
  
  .grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
  }
  
  .grid-item {
	text-align: center;
  }
  
  .grid-item p {
	text-align: center;
	margin: 0;
  }
  
  .grid-item img {
	display: block;
	margin: 20px auto;
  }
  
  .grid-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
  }
  
  .grid-item .box {
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
  }
